<div class="container">
    <div class="block">
        <img src={{link}} alt="">
        <div class="text">
            <h2>{{summary.FirstName}} {{summary.LastName}}</h2>
            <p>Знание: {{summary.skills}}</p>
            <p>Сертификаты: {{summary.certificates}}</p>
            <p>Сыллки на мои ресурсы: </p>
            <ul>
                <li><a href={{summaryDes.twiter}}>twiter</a></li>
                <li><a href={{summaryDes.GitHub}}>GitHub</a></li>
            </ul>
        </div>
    </div>
</div>
